.main {
}
.main .inner {
  display: block;
  height: auto;
}
.main-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.main-top-slide {
  /* 반응형 */
  /* 65.8119658
    770/1170 * 100
  */
  width: 65.81%;
  max-width: 770px;
  /* 세로로 비율을 만들어 낼때 반드시!! 너비가 기준 */
  /* 470(높이) / 1170(너비) * 100 */
  height: 40.17vw;
  max-height: 470px;
  overflow: hidden;
}
.topslide {
  width: 100%;
  height: 100%;
}
.topslide .swiper-pagination {
  bottom: 30px !important;
}

.topslide .swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
  background: #fff !important;
  opacity: 0.7 !important;
  border-radius: 4px !important;
  transition: width 0.3s !important;
  margin: 0 auto;
}

.topslide .swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 1;
  width: 20px !important;
}

.main-top-slide a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px;
  width: 100%;
  height: 100%;
  background: url("../images/b1.png") no-repeat center;
  background-size: cover;
}
/* 가로가 변하는 비율만큼 세로가 변하는 경우. */
/* 고정인 경우 */
.main-top-banner {
  /* 370/1170 * 100 */
  width: 31.62%;
  max-width: 370px;

  height: 40.17vw;
  max-height: 470px;

  overflow: hidden;
}
.bannerslide {
  width: 100%;
  height: 100%;
}
.bannerslide .swiper-pagination {
  bottom: 30px !important;
}

.bannerslide .swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
  background: #fff !important;
  opacity: 0.7 !important;
  border-radius: 4px !important;
  transition: width 0.3s !important;
  margin: 0 auto;
}

.bannerslide .swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 1;
  width: 20px !important;
}
.main-top-banner a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px;
  width: 100%;
  height: 100%;
  background: url("../images/br.png") no-repeat center;
  background-size: cover;
}
.slide-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
}
/* 반응형 */
@media all and (max-width: 1024px) {
  .main-top-slide {
    width: 100%;
    max-width: 100%;

    height: 100vw;
    max-height: 1240px;
  }
  .main-top-banner {
    display: none;
  }
}
.main-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}

.main-bottom h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.list-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.56%;
  margin-bottom: 60px;
}
.list-box {
  display: block;
  width: 30%;

  margin-bottom: 30px;
}

.list-box:hover .list-box-img {
  filter: drop-shadow(0px 25px 25px rgb(0 0 0 / 0.2));
  transform: translateY(-10px);
}

.list-box-img {
  width: 100%;
  overflow: hidden;
  height: 17.09vw;
  max-height: 200px;
  margin-bottom: 24px;

  transition: all 0.2s ease-in;
}

.list-box-cate {
  /* 중앙으로 글자 보내기 */
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 18px;
}

.list-box-cate img {
  width: 24px;
  height: 24px;
}
.list-box-cate span {
  font-size: 14px;
  font-weight: 700;
  color: #e700a7;
}

.list-box-title {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
  word-break: keep-all;
  line-height: 28px;
}
.lsit-box-day {
  font-size: 14px;
  color: #cccccc;
}
.main-bottom-list {
  width: 71.79%;
  max-width: 840px;
}
.main-bottom-list-new {
}
.main-bottom-list-banner {
  overflow: hidden;
  margin-bottom: 60px;
}
.list-banner-link {
  display: block;
  width: 100%;
  height: 160px;
  background: #031efb url("../images/1pc.png") no-repeat center;
  background-size: 100%;
}

@media all and (max-width: 1024px) {
  .main-bottom {
    /* 화면 크기 줄이면 요소들을 내려야한다. */
    flex-wrap: wrap;
  }
  .main-bottom-list {
    width: 100%;
    max-width: 100%;
  }
  .list-box {
    width: 100%;
  }
  .list-box-img {
    height: 74.21vw;
    max-height: 760px;
  }
  .main-bottom-cards {
    width: 100%;
    max-width: 100%;
  }
}
.main-bottom-cards {
  max-width: 300px;
  width: 25.64%;
}
.main-bottom-cards h2 {
  color: #0c127c;
}

.card-link {
  display: flex;
  /* 가로 배치는 신경 x */
  align-items: flex-end;
  width: 100%;
  /* 가로가 변하면 % - > 세로가 변하면 vw */
  height: 330px;
  background: url("../images/p1.png") no-repeat center;
  background-size: cover;
  margin-bottom: 30px;

  /* 배치된 내용의 좌표 (x,y)가 이동한다. */
  /* 꼼꼼하면 명명 아니면 all > all 자리에 transform  */
  transition: all 0.2s ease-in;

  /* shadow box까지 없애버림. */
  overflow: hidden;
}
.card-link:hover {
  /* 위로 좌표 변경 */
  /* default 값 0 > 모니터 기준으로 - 는 위 */
  transform: translateY(-10px);
  filter: drop-shadow(0px 25px 25px rgb(0 0 0 / 0.2));
}
.card-txt {
  display: flex;
  align-items: center;

  width: 100%;
  height: 70px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}
.card-title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.card-count {
  display: block;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  /* 공간을 넓혀서 색주기위함. */
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-left: 3px;
}

@media all and (max-width: 1024px) {
  .main-bottom-cards {
    max-width: 100%;
    width: 100%;
  }
  .card-link {
    width: 240px;
    height: 266px;
  }
}
